html {
    overflow-y: scroll;
}

/** -------------  --------------- **/
/* line 25, ../sass/style.scss */
#admin-menu-wrapper {
  display: none;
}

/* line 30, ../sass/style.scss */
.user-profile .group-header {
  color: #78cdd3;
}

/* line 33, ../sass/style.scss */
.user-profile .group-left, .user-profile .group-footer, .user-profile .group-left h3, .user-profile .group-footer h3, .user-profile .group-left dt, .user-profile .group-footer dt {
  color: #e1f4f5;
  font-size: 1em;
  font-weight: 100;
}

/* line 38, ../sass/style.scss */
.user-profile .group-left dl, .user-profile .group-footer dl, .user-profile .group-left h3, .user-profile .group-footer h3 {
  margin: 0px;
  line-height: 20px;
}

/* line 42, ../sass/style.scss */
.user-profile .group-left a, .user-profile .group-footer a {
  color: #e1f4f5;
}

/* line 45, ../sass/style.scss */
.user-profile .group-header {
  padding-top: 40px;
}

/* line 48, ../sass/style.scss */
ul.tabs--primary.nav.nav-tabs {
  background: white;
  margin-bottom: 0px;
  display: none;
}

/* line 52, ../sass/style.scss */
ul.tabs--secondary.pagination.pagination-sm {
  display: inline-block;
  background: white;
  width: 100%;
}

/* line 57, ../sass/style.scss */
.page-user .pagination {
  margin-bottom: 0px;
}

/* line 60, ../sass/style.scss */
.page-user .region-content {
  background: white;
}

/* line 64, ../sass/style.scss */
.page-user-edit .region-content {
  padding: 10px;
}

/* line 67, ../sass/style.scss */
.page-header {
  background: #54a0a5;
  margin-bottom: 0px;
  padding-top: 20px;
  border-bottom: 8px solid #87d3d8;
  padding: 20px;
  color: #e1f4f5;
  font-size: 25px;
}

/* line 77, ../sass/style.scss */
.user-profile .group-header .field-item img {
  text-align: center;
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

/* line 86, ../sass/style.scss */
.user-profile .group-left, .group-footer {
  background: #54a0a5;
  padding: 10px;
}

/* line 90, ../sass/style.scss */
.group-header .field-name-field-user-fornavn, .group-header .field-name-field-user-efternavn {
  font-size: 2em;
}

/* line 93, ../sass/style.scss */
.user-profile .group-header .field-item img {
  width: 45% !important;
  height: 45% !important;
}

/* line 98, ../sass/style.scss */
a {
  color: #54a0a5;
}

/* line 101, ../sass/style.scss */
#block-user-login {
  background: white;
  padding-bottom: 10px;
  display: block;
}

/* line 106, ../sass/style.scss */
#block-user-login .form-text, #block-user-login #edit-submit {
  border-color: #87d3d8;
}

/* line 109, ../sass/style.scss */
#block-user-login .block-title {
  background: #54a0a5;
  border-bottom: 5px solid #87d3d8;
  padding-left: 25px;
}

/* line 114, ../sass/style.scss */
#block-user-login h2 {
  color: #e1f4f5;
  margin: 0px;
  height: 70px;
  line-height: 70px;
}

/* line 120, ../sass/style.scss */
#user-login-form {
  padding: 30px;
}

/* line 123, ../sass/style.scss */
.page-statistik .row, .page-statistik .row pre {
  background: white;
  border: none;
}

/* line 127, ../sass/style.scss */
#edit-ugedage, #edit-maaned {
  margin-top: 0px;
  border-color: #87d3d8;
}

/* line 132, ../sass/style.scss */
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  background: #69c8cf;
  border-color: #69c8cf;
}

/* line 136, ../sass/style.scss */
.view-files .views-row-even {
  background: rgba(105, 205, 208, 0.2);
}

/* line 139, ../sass/style.scss */
.view-files {
  background: white;
}

/* line 142, ../sass/style.scss */
.kategori {
  display: inline;
  background-color: #69c8cf;
  color: #EFF9FA;
  text-decoration: none;
  border-radius: 4px;
  padding: 3px;
}

/* line 150, ../sass/style.scss */
.calendar a {
  color: white;
}

/* line 153, ../sass/style.scss */
.page-calendar .date-nav-wrapper {
  background-color: #54a0a5;
  border-bottom: 10px solid #69c8cf !important;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  height: 50px;
}

/* line 160, ../sass/style.scss */
.page-calendar .pager .date-prev, .page-calendar .pager .date-next {
  color: #e1f4f5;
  line-height: 0px;
  margin-top: 20px;
}

/* line 164, ../sass/style.scss */
.kategori a {
  color: white !important;
}

/* line 167, ../sass/style.scss */
.created {
  display: inline;
}

/* line 170, ../sass/style.scss */
.pane-vagtplan ul {
  padding: 0px 0px 15px 0px;
}

/* line 173, ../sass/style.scss */
.pane-vagtplan ul li {
  list-style: none;
  padding: 10px;
}
.pane-vagtplan .views-label-title {
    display: none;
}

/* line 177, ../sass/style.scss */
.pane-vagtplan h4 {
  margin: 0;
  margin-bottom: 5px;
}

/* line 181, ../sass/style.scss */
.pane-vagtplan .views-row-even {
  background: #EFF9FA;
}

/* line 184, ../sass/style.scss */
body {
  background-color: #EAEDF2;
}

/* line 187, ../sass/style.scss */
button.navbar-toggle {
  right: 10px;
}

/* line 190, ../sass/style.scss */
.navbar > .container .navbar-brand {
  margin-left: -5px;
  position: relative;
  font-size: 1.25em;
  top: 6px;
  color: #e1f4f5;
}

/* line 197, ../sass/style.scss */
.logo img {
  padding-top: 5px;
  width: 80%;
}

/* line 201, ../sass/style.scss */
#navbar a > is {
  display: block;
}

/* line 204, ../sass/style.scss */
a:before {
  position: relative;
  width: 100%;
}

/* line 208, ../sass/style.scss */
.navbar-toggle {
  position: absolute;
  margin-top: 11px;
}

/* line 212, ../sass/style.scss */
.nav .open > a, .nav .open > a:hover {
  border-right: 2px solid #78cdd3;
}

/* line 216, ../sass/style.scss */
.tb-megamenu-item .active-trail, .tb-megamenu .nav li.dropdown.active > .dropdown-toggle, .tb-megamenu .nav li.dropdown.active > .dropdown-toggle, .tb-megamenu .nav li.dropdown.open.active > .dropdown-toggle, .tb-megamenu .nav > li.dropdown.open.active > a:hover {
  border-bottom: 3px solid #54a0a5;
}

/* line 219, ../sass/style.scss */
.tb-megamenu .nav li.dropdown.active > .dropdown-toggle, .tb-megamenu .nav li.dropdown.open.active > .dropdown-toggle, .tb-megamenu .nav > li.dropdown.open.active > a:hover {
  border-right-color: #78cdd3;
}

/* line 222, ../sass/style.scss */
.tb-megamenu .nav-collapse .dropdown-menu {
  background-color: white !important;
  border: 2px solid #69c8cf;
  border-left: none;
  border-right: none;
}

/* line 228, ../sass/style.scss */
.tb-megamenu .nav-collapse {
  position: relative;
  z-index: 999;
  height: auto;
  top: 0px !important;
}

/* line 234, ../sass/style.scss */
.tb-megamenu .nav-collapse.collapse {
  display: block !important;
}

/* line 237, ../sass/style.scss */
.tb-megamenu {
  background: none !important;
}

/* line 240, ../sass/style.scss */
.tb-megamenu .nav > .active > a {
  background-color: #54a0a5 !important;
}

/* line 243, ../sass/style.scss */
.tb-megamenu .nav-collapse .nav > li > a {
  background-color: #54a0a5;
}

/* line 246, ../sass/style.scss */
.tb-megamenu .nav-collapse .dropdown-menu a {
  color: #54a0a5 !important;
}

/* line 249, ../sass/style.scss */
.tb-megamenu .nav-collapse .nav > li > a:hover, .tb-megamenu .nav-collapse .nav > li > a:focus {
  background: #54a0a5 !important;
  color: white !important;
}

/* line 253, ../sass/style.scss */
.tb-megamenu .dropdown-menu .active > a {
  color: #fff !important;
  text-decoration: none;
  outline: 0;
  background-color: #54a0a5 !important;
  background-image: none !important;
  background-repeat: none !important;
}

/* line 262, ../sass/style.scss */
#navbar {
  background-color: #54a0a5;
  height: 60px;
  border-radius: 0px;
  margin-top: 0px;
  padding-right: 0px;
}

/* line 269, ../sass/style.scss */
#navbar ul li {
  color: white;
}

/* line 272, ../sass/style.scss */
.fa {
  display: inline !important;
}

/* line 275, ../sass/style.scss */
.ansat-fornavn {
  display: none;
}

/* line 278, ../sass/style.scss */
.ansat-img {
  float: left;
  margin-right: 20px;
}

/* line 281, ../sass/style.scss */
.view-afdelingen .view-content .views-row {
  height: 140px;
  margin: 1px;
}

/* line 286, ../sass/style.scss */
.ansat-info {
  padding-top: 15px;
}

/* line 290, ../sass/style.scss */
.pane-vagtplan .date-nav {
  background: #54a0a5 !important;
  margin: 0px;
  padding: 0px;
}

/* line 295, ../sass/style.scss */
.pane-vagtplan .date-nav h3 a {
  color: #e1f4f5 !important;
}

/* line 298, ../sass/style.scss */
.pane-vagtplan .view-vagtplan {
  background-color: white;
}

/* line 301, ../sass/style.scss */
.mini {
  background-color: white;
  /*kaldender baggrund*/
}

/* line 305, ../sass/style.scss */
.mini-day-off {
  color: #346467;
  /* kalender tekst */
}

/* line 309, ../sass/style.scss */
.mini-day-on {
  background-color: #e1f4f5;
}

/* line 312, ../sass/style.scss */
.mini-day-on, .mini-day-off {
  text-align: center;
}

/* line 315, ../sass/style.scss */
.mini a {
  color: #346467;
  text-decoration: none;
}

/* line 319, ../sass/style.scss */
.calendar-calendar .month-view .mini .days {
  background-color: white;
  color: #54a0a5;
  border: 0px solid #54a0a5;
}

/* line 324, ../sass/style.scss */
.calendar h4 {
  font-size: 1em;
  display: inline-block;
}

/* line 328, ../sass/style.scss */
.pane-vagtplan .view .date-heading h3 {
  padding-top: 10px;
}

/* line 332, ../sass/style.scss */
.pager {
  margin-bottom: 0px;
}

/* line 335, ../sass/style.scss */
.pane-vagtplan .pager .date-prev a, .pane-vagtplan .pager .date-next a {
  font-size: 1.8em;
  color: #e1f4f5;
}

/* line 339, ../sass/style.scss */
.view-files .views-exposed-form {
  background-color: #87d3d8;
}

/* line 342, ../sass/style.scss */
.view-files .views-exposed-widgets {
  margin-bottom: 0px;
}

/* line 345, ../sass/style.scss */
.view-files .views-exposed-widget {
  margin-left: 20px;
  margin-bottom: 10px;
  padding-top: 0px;
}

/* line 350, ../sass/style.scss */
.view-files .views-exposed-widget .form-type-radio {
  margin-top: 0px;
}

/* line 353, ../sass/style.scss */
.views-exposed-widget label, .view-files .views-exposed-widget .views-widget label {
  color: #e1f4f5 !important;
}

/* line 356, ../sass/style.scss */
.view-files .author {
  display: inline-block;
}

/* line 362, ../sass/style.scss */
.pane-allnews img {
  display: inline-block;
  float: left;
  margin-left: 0px;
  margin-right: 10px;
}

/* line 368, ../sass/style.scss */
.pane-vagtplan .pane-title {
  height: 20px !important;
  left: 0;
  right: 0;
  margin-top: 0px !important;
  margin-left: 0px;
  padding-top: 15px;
  text-align: center;
  background-color: #54a0a5;
}

.views-label-field-dato-dato {
    display: none;
}

/* line 371, ../sass/style.scss */
.pane-allnews .views-row {
  padding: 10px;
  display: inline-block;
  width: 100%;
  background: white;
}

/* line 378, ../sass/style.scss */
.view-allnews .views-row-even {
  background: rgba(105, 205, 208, 0.1);
}

/* line 381, ../sass/style.scss */
.view-allnews .views-row h3 {
  margin: 5px;
}

/* line 384, ../sass/style.scss */
.view-allnews .overinfo {
  padding: 5px 0px 5px 0px;
}

/* line 389, ../sass/style.scss */
.view-drifts-information .views-image, .view-afdelings-information .views-image, .view-general-information .views-image {
  float: left;
  margin-right: 10px;
}

/* line 394, ../sass/style.scss */
#nyhed-node-form, #file-update-node-form, #submenu-node-form, #event-node-form {
  background: white;
  padding: 10px;
}

/* line 398, ../sass/style.scss */
.calendar-calendar td {
  border: none;
}

/* line 401, ../sass/style.scss */
.pane-drifts-information .col-md-12,
.pane-general-information .col-md-12,
.pane-afdelings-information .col-md-12 {
  background: white;
  margin-bottom: 10px;
  min-height: 220px;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  /* line 410, ../sass/style.scss */
  .user-profile .group-header .field-item img {
    width: 25% !important;
    height: 25% !important;
  }

  /* line 414, ../sass/style.scss */
  .logo {
    display: block;
  }

  /* line 417, ../sass/style.scss */
  .nav .open > a, .nav .open > a:hover {
    border-right: 2px solid #78cdd3;
  }

  /* line 420, ../sass/style.scss */
  .tb-megamenu-item .active-trail, .tb-megamenu .nav li.dropdown.active > .dropdown-toggle, .tb-megamenu .nav li.dropdown.active > .dropdown-toggle, .tb-megamenu .nav li.dropdown.open.active > .dropdown-toggle, .tb-megamenu .nav > li.dropdown.open.active > a:hover {
    border-bottom: 3px solid #54a0a5;
  }

  /* line 423, ../sass/style.scss */
  #navbar {

    border-radius: 0px;
  }

  /* line 428, ../sass/style.scss */
  .tb-megamenu .nav-collapse.collapse {
    display: block !important;
  }

  /* line 431, ../sass/style.scss */
  .tb-megamenu {
    background: none !important;
  }

  /* line 435, ../sass/style.scss */
  #navbar ul li {
    color: white;
  }

  /* line 438, ../sass/style.scss */
  .tb-megamenu .nav > li > a {
    color: white;
    font-weight: lighter;
    height: 63px;
  }

  /* line 444, ../sass/style.scss */
  .navbar > .container .navbar-brand {
    margin-left: -15px;
    position: relative;
    font-size: 1em;
    top: 8px;
  }

  /* OBS */
  /* line 452, ../sass/style.scss */
  .view-home {
    background-color: white;
  }

  /* line 455, ../sass/style.scss */
  .pane-allnews {
    background-color: #1f3c3e;
  }

  /* line 458, ../sass/style.scss */
  .pane-title {
    color: white;
    margin-left: 10px;
  }

  /* line 462, ../sass/style.scss */
  .views-row p {
    padding: 0px 0px 0px 0px;
  }

  /* line 465, ../sass/style.scss */
  .view-content {
    padding-bottom: 15px;
  }
}
/* Medium devices (desktops, 979px and up) */
@media (min-width: 979px) {
  /* line 472, ../sass/style.scss */
  .user-profile .group-header .field-item img {
    width: 25% !important;
    height: 25% !important;
  }

  /* line 476, ../sass/style.scss */
  #navbar {
    border-radius: 0px;
  }

  /* line 481, ../sass/style.scss */
  .tb-megamenu .nav-collapse.collapse {
    display: block !important;
  }

  /* line 484, ../sass/style.scss */
  .tb-megamenu {
    background: none !important;
    float: left;
  }

  /* line 488, ../sass/style.scss */
  #navbar ul li {
    color: white;
  }

  /* line 491, ../sass/style.scss */
  .tb-megamenu .nav > li > a {
    padding: 20px 0px 0px 3px;
    text-align: center;
    color: #e1f4f5;
    font-weight: lighter;
    height: 68px;
    width: 90px;
  }

  /* OBS */
  /* line 501, ../sass/style.scss */
  .view-home {
    background-color: white;
  }

  /* line 504, ../sass/style.scss */
  .pane-allnews {
    background-color: #1f3c3e;
  }

  /* line 507, ../sass/style.scss */
  .pane-title {
    color: white;
    margin-left: 10px;
  }

  /* line 511, ../sass/style.scss */
  .views-row p {
    padding: 0px 0px 0px 0px;
  }

  /* line 514, ../sass/style.scss */
  .view-content {
    padding-bottom: 15px;
  }
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  /* line 521, ../sass/style.scss */
  #admin-menu-wrapper {
    display: block;
  }

  /* line 525, ../sass/style.scss */
  .navbar > .container .navbar-brand {
    margin-left: -15px;
    position: relative;
    font-size: 1.3em;
    top: 8px;
    color: #e1f4f5;
  }

  /* line 532, ../sass/style.scss */
  .tb-megamenu-item .active-trail .active, .tb-megamenu-item .active-trail {
    background-color: #69c8cf !important;
  }

  /* line 535, ../sass/style.scss */
  .logo img {
    width: 100%;
  }

  /* line 538, ../sass/style.scss */
  .nav .open > a, .nav .open > a:hover {
    border-right: 2px solid #78cdd3;
  }

  /* line 541, ../sass/style.scss */
  .tb-megamenu-item .active-trail, .tb-megamenu .nav li.dropdown.active > .dropdown-toggle, .tb-megamenu .nav li.dropdown.active > .dropdown-toggle, .tb-megamenu .nav li.dropdown.open.active > .dropdown-toggle, .tb-megamenu .nav > li.dropdown.open.active > a:hover {
    border-bottom: 3px solid #54a0a5;
  }

  /* line 544, ../sass/style.scss */
  .tb-megamenu .nav li.dropdown.active > .dropdown-toggle, .tb-megamenu .nav li.dropdown.open.active > .dropdown-toggle, .tb-megamenu .nav > li.dropdown.open.active > a:hover {
    border-right-color: #78cdd3 !important;
    border-left-color: #78cdd3 !important;
  }

  /* line 548, ../sass/style.scss */
  #navbar {
    background-color: #54a0a5;
    height: 60px;
    border-radius: 0px;
  }

  /* line 553, ../sass/style.scss */
  #navbar .navbar-header {
    float: left;
  }

  /* line 556, ../sass/style.scss */
  #navbar .navbar-collapse {
    float: right;
    padding-right: 0px;
    padding-left: 0px !important;
  }

  /* line 560, ../sass/style.scss */
  .panel-panel .page-files {
    margin-top: 0px;
    background-color: #54a0a5;
  }

  /* line 564, ../sass/style.scss */
  .panel-panel .page-files .pane-title {
    height: 50px;
    padding-top: 15px;
    margin-top: 0px !important;
    text-align: center;
  }

  /* line 570, ../sass/style.scss */
  .panel-panel .page-files .view-content {
    background-color: white;
    border-top: 10px solid #69c8cf;
  }

  /* line 574, ../sass/style.scss */
  .tb-megamenu .nav-collapse.collapse {
    display: block !important;
  }

  /* line 577, ../sass/style.scss */
  .tb-megamenu {
    background: none !important;
    float: left;
  }

  /* line 581, ../sass/style.scss */
  #navbar ul li {
    color: white;
  }

  /* line 584, ../sass/style.scss */
  .tb-megamenu .nav > li > a {
    border-right: 2px solid #78cdd3;
    text-align: center;
    color: #e1f4f5;
    font-weight: lighter;
    height: 58px;
    width: 100px;
  }

  /* line 592, ../sass/style.scss */
  .fa {
    font-size: 2.1em;
    display: none !important;
  }

  /* OBS */
  /* line 598, ../sass/style.scss */
  .view-home {
    background-color: white;
  }

  /* line 601, ../sass/style.scss */
  .pane-allnews {
    background-color: #1f3c3e;
  }

  /* line 604, ../sass/style.scss */
  .pane-title {
    color: white;
    margin-left: 10px;
  }

  /* line 608, ../sass/style.scss */
  .views-row p {
    padding: 0px 0px 0px 0px;
  }

  /* line 611, ../sass/style.scss */
  .view-content {
    padding-bottom: 15px;
  }

  /* Afdelingen */
  /* line 616, ../sass/style.scss */
  .view-afdelingen .view-content .views-row {
    background-color: white;
    padding: 5px 0px 79px 0px;
    margin: 2.5% 2.5% 6% 2.5%;
    width: 20%;
    height: 270px;
  }

  /* line 623, ../sass/style.scss */
  .node .content {
    background-color: transparent;
    padding: 15px;
  }

  /* line 627, ../sass/style.scss */
  #block-logintoboggan-logintoboggan-logged-in {
    background-color: white;
    width: auto;
    text-align: right;
    float: right;
    padding: 4px;
    border: 3px solid #69c8cf;
    margin-bottom: -34px;
    margin-top: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: relative;
    z-index: 11;
  }

  /* line 642, ../sass/style.scss */
  .footer.container {
    padding: 0px;
  }

  /* line 645, ../sass/style.scss */
  .view-general-information .views-row .views-row-title, .view-drifts-information .views-row .views-row-title, .view-afdelings-information .views-row .views-row-title {
    background: #54a0a5;
    height: 60px;
    border-bottom: 8px solid #87d3d8;
    padding-top: 15px;
    margin-top: 0px;
  }

  /* line 652, ../sass/style.scss */
  .view-general-information .views-row .views-row-title a, .view-drifts-information .views-row .views-row-title a, .view-afdelings-information .views-row .views-row-title a {
    color: #e1f4f5;
    text-decoration: none;
    padding-left: 10px;
  }

  /* line 657, ../sass/style.scss */
  .view-general-information .views-row, .view-drifts-information .views-row, .view-afdelings-information .views-row {
    background: white;
    padding-bottom: 20px;
  }

  /* line 661, ../sass/style.scss */
  .view-general-information .views-row, .view-drifts-information .views-row, .view-afdelings-information .views-row, .pane-simplenews-35, .pane-simplenews-36, .pane-simplenews-37 {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 20px;
  }

  /* line 666, ../sass/style.scss */
  .pane-simplenews-35 .pane-title, .pane-simplenews-36 .pane-title, .pane-simplenews-37 .pane-title {
    margin-left: 0px;
    color: #e1f4f5;
    height: 60px;
    background: #54a0a5;
    border-bottom: 8px solid #87d3d8;
    padding-top: 15px;
    padding-left: 10px;
  }

  /* line 675, ../sass/style.scss */
  .view-files, .pane-simplenews-35, .pane-simplenews-36, .pane-simplenews-37 {
    background: white;
  }

  /* line 678, ../sass/style.scss */
  .pane-simplenews-35 .pane-content, .pane-simplenews-36 .pane-content, .pane-simplenews-37 .pane-content {
    padding: 15px;
  }

  /* line 681, ../sass/style.scss */
  .view-general-information .views-field .col-md-12, .view-drifts-information .views-field .col-md-12, .view-afdelings-information .views-field .col-md-12 {
    padding-left: 0px;
    padding-right: 0px;
  }

  /* line 685, ../sass/style.scss */
  .view-general-information .views-image, .view-drifts-information .views-image, .view-afdelings-information .views-image {
    float: left;
    padding-right: 10px;
    padding-left: 10px;
  }

  /* line 690, ../sass/style.scss */
  .view-general-information .views-image-body, .view-drifts-information .views-image-body, .view-afdelings-information .views-image-body {
    min-height: 100px;
  }

  /* line 694, ../sass/style.scss */
  .view-files h2 {
    margin-top: 0px;
    font-size: 2em;
  }

  /* line 698, ../sass/style.scss */
  .view-files .views-row {
    padding: 15px;
  }

  /* line 701, ../sass/style.scss */
  .view-files .view-content {
    padding-bottom: 0px;
  }

  /* line 704, ../sass/style.scss */
  .view-files .views-row-even {
    background: #EFF9FA;
  }

  /* line 707, ../sass/style.scss */
  .view-vagtplan {
    margin-top: 40px;
  }

  /* line 711, ../sass/style.scss */
  .ansat-info {
    background-color: #54a0a5;
    padding: 5px;
    padding-left: 5px;
    padding-top: 5px;
  }

  /* line 717, ../sass/style.scss */
  .ansat-info a {
    color: #2a5052;
    font-size: 12px;
  }

  /* line 720, ../sass/style.scss */
  .ansat-img {
    text-align: center;
    padding: 20px 0px 0px 0px;
    float: none;
  }

  /* line 725, ../sass/style.scss */
  .ansat-img img {
    border-radius: 50%;
    border: 4px solid #5eb4ba;
    display: inline;
  }

  /* line 730, ../sass/style.scss */
  .ansat-fornavn {
    color: #69c8cf;
    text-align: center;
    margin: 10px 0px 10px 0px;
    display: block;
  }

  /* line 737, ../sass/style.scss */
  .pane-vagtplan .date-nav {
    background: #54a0a5 !important;
    margin: 0px;
    padding: 0px;
  }

  /* line 742, ../sass/style.scss */
  .pane-vagtplan .date-nav h3 a {
    color: #e1f4f5 !important;
  }

  /* line 745, ../sass/style.scss */
  .pane-vagtplan .view-vagtplan {
    background-color: white;
  }

  /* line 748, ../sass/style.scss */
  .mini {
    background-color: white;
    /*kaldender baggrund*/
  }

  /* line 752, ../sass/style.scss */
  .mini-day-off {
    color: #346467;
    /* kalender tekst */
  }

  /* line 756, ../sass/style.scss */
  .mini-day-on {
    background-color: #e1f4f5;
  }

  /* line 759, ../sass/style.scss */
  .mini-day-on, .mini-day-off {
    text-align: center;
  }

  /* line 762, ../sass/style.scss */
  .mini a {
    color: #346467;
    text-decoration: none;
  }

  /* line 766, ../sass/style.scss */
  .calendar-calendar .month-view .mini .days {
    background-color: white;
    color: #54a0a5;
    border: 0px solid #54a0a5;
  }

  /* line 771, ../sass/style.scss */
  .pane-vagtplan .view .date-heading h3 {
    padding-top: 10px;
  }

  /* line 775, ../sass/style.scss */
  .pager {
    margin-bottom: 0px;
  }

  /* line 778, ../sass/style.scss */
  .pane-vagtplan .pager .date-prev a, .pane-vagtplan .pager .date-next a {
    font-size: 1.8em;
    color: #e1f4f5;
  }

  /* line 782, ../sass/style.scss */
  .pane-vagtplan .pager .date-next a {
    background-color: transparent !important;
    /* float: left; */
    position: absolute;
    top: 9px;
    right: 10px;
    width: 20px;
    height: 28px;
    border: none;
  }
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  /* line 799, ../sass/style.scss */
  .user-profile .group-header .field-item img {
    width: 35% !important;
    height: 35% !important;
  }
  /* line 803, ../sass/style.scss */
  .logo {
    display: block;
  }

  /* line 806, ../sass/style.scss */
  .navbar > .container .navbar-brand {
    margin-left: -15px;
    position: relative;
    font-size: 1.5em;
    top: 8px;
    color: #e1f4f5;
  }

  /* line 814, ../sass/style.scss */
  .tb-megamenu-item .active-trail .active, .tb-megamenu-item .active-trail {
    background-color: #69c8cf !important;
  }

  /* line 817, ../sass/style.scss */
  .nav .open > a, .nav .open > a:hover {
    border-right: 2px solid #78cdd3;
  }

  /* line 820, ../sass/style.scss */
  .tb-megamenu-item .active-trail, .tb-megamenu .nav li.dropdown.active > .dropdown-toggle, .tb-megamenu .nav li.dropdown.active > .dropdown-toggle, .tb-megamenu .nav li.dropdown.open.active > .dropdown-toggle, .tb-megamenu .nav > li.dropdown.open.active > a:hover {
    border-bottom: 5px solid #87d3d8 !important;
    border-right: 2px solid #78cdd3;
  }

  /* line 824, ../sass/style.scss */
  .tb-megamenu .nav-collapse .nav > li > a {
    background-color: #54a0a5;
  }

  /* line 827, ../sass/style.scss */
  #navbar {
    background-color: #54a0a5;
    height: 70px;
    border-radius: 0px;
  }

  /* line 832, ../sass/style.scss */
  #navbar ul {
    
  }

  /* line 835, ../sass/style.scss */
  #navbar ul li ul li a {
    border-left: none !important;
  }

  /* line 838, ../sass/style.scss */
  .tb-megamenu .nav-collapse.collapse {
    display: block !important;
  }

  /* line 841, ../sass/style.scss */
  .tb-megamenu {
    background: none !important;
    float: left;
  }

  /* line 845, ../sass/style.scss */
  #navbar ul li {
    color: white;
  }

  /* line 848, ../sass/style.scss */
  #navbar .navbar-header {
    float: left;
  }

  /* line 851, ../sass/style.scss */
  #navbar .navbar-collapse {
    float: right;
  }

  /* line 854, ../sass/style.scss */
  .tb-megamenu .nav > li > a {
    border-right: 2px solid #78cdd3;
    font-size: 1.4em;
    font-weight: lighter;
    /*padding: 15px 0px 0px 0px;*/
    height: 68px;
    width: 130px;
  }

  /* line 863, ../sass/style.scss */
  .tb-megamenu .dropdown-menu li > a {
    border-top: none;
  }

  /* line 866, ../sass/style.scss */
  .tb-megamenu .dropdown-menu li > a:hover {
    background-color: #87d3d8;
  }

  /* line 869, ../sass/style.scss */
  .tb-megamenu .nav li.dropdown.open > .dropdown-toggle {
    background-color: transparent !important;
    color: #e1f4f5 !important;
  }

  /* line 873, ../sass/style.scss */
  .fa {
    font-size: .9em;
    display: inline !important;
  }

  /* OBS */
  /* line 879, ../sass/style.scss */
  .view-home {
    background-color: white;
  }

  /* line 882, ../sass/style.scss */
  .pane-allnews {
    background-color: #1f3c3e;
  }

  /* line 885, ../sass/style.scss */
  .pane-title {
    color: white;
    margin-left: 10px;
  }

  /* line 889, ../sass/style.scss */
  .views-row p {
    padding: 0px 0px 0px 0px;
  }

  /* line 892, ../sass/style.scss */
  .view-content {
    padding-bottom: 15px;
  }

  /* panel views all news */
  /* line 897, ../sass/style.scss */
  .pane-allnews .views-row-even {
    background: rgba(105, 205, 208, 0.1);
  }

  /* line 900, ../sass/style.scss */
  .pane-allnews .views-row p, .pane-allnews .overinfo {
    padding-top: 1px;
    padding-bottom: 5px;
    margin-bottom: 10px;
  }

  /* line 905, ../sass/style.scss */
  .pane-allnews .overinfo h3 {
    margin-bottom: 10px;
  }

  /* Panel Files */
  /* line 910, ../sass/style.scss */
  .panel-panel .page-files {
    background-color: #54a0a5;
  }

  /* line 914, ../sass/style.scss */
  .panel-panel .page-files .pane-title {
    height: 50px;
    padding-top: 15px;
    text-align: center;
  }

  /* line 919, ../sass/style.scss */
  .panel-panel .page-files .view-content {
    background-color: white;
    border-top: 10px solid #69c8cf;
  }

  /* line 923, ../sass/style.scss */
  .pane-files .views-field-body .field-content {
    display: none !important;
  }

  /* line 926, ../sass/style.scss */
  .pane-files .author {
    display: inline;
  }

  /* line 929, ../sass/style.scss */
  .panel-pane.pane-views.pane-files.page-files {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  /* Afdelingen */
  /* line 934, ../sass/style.scss */
  .view-afdelingen .view-content .views-row {
    background-color: white;
    padding: 5px 0px 0px 0px;
    margin: 28px;
    width: 20%;
    height: auto;
  }

  /* line 941, ../sass/style.scss */
  .ansat-info {
    background-color: #54a0a5;
    padding: 5px;
    padding-left: 10px;
    color: #e1f4f5;
  }

  /* line 947, ../sass/style.scss */
  .ansat-info a {
    color: #e1f4f5;
  }
  /* line 950, ../sass/style.scss */
  .ansat-img {
    text-align: center;
    padding: 20px 0px 0px 0px;
    float: none;
  }

  /* line 955, ../sass/style.scss */
  .ansat-img img {
    border-radius: 50%;
    border: 4px solid #5eb4ba;
    display: inline;
  }

  /* line 960, ../sass/style.scss */
  .ansat-fornavn {
    color: #69c8cf;
    text-align: center;
    margin: 10px 0px 10px 0px;
    display: block;
  }

  /* line 967, ../sass/style.scss */
  .pane-vagtplan .date-nav {
    background: #54a0a5 !important;
    margin: 0px;
    padding: 0px;
  }

  /* line 972, ../sass/style.scss */
  .pane-vagtplan .date-nav h3 a {
    color: #e1f4f5 !important;
  }

  /* line 975, ../sass/style.scss */
  .pane-vagtplan .view-vagtplan {
    background-color: white;
  }

  /* line 978, ../sass/style.scss */
  .pane-vagtplan {
    margin-top: 40px;
  }

  /* line 981, ../sass/style.scss */
  .mini {
    background-color: white;
    /*kaldender baggrund*/
  }

  /* line 985, ../sass/style.scss */
  .mini-day-off {
    color: #346467;
    /* kalender tekst */
  }

  /* line 989, ../sass/style.scss */
  .mini-day-on {
    background-color: #e1f4f5;
  }

  /* line 992, ../sass/style.scss */
  .mini-day-on, .mini-day-off {
    text-align: center;
  }

  /* line 995, ../sass/style.scss */
  .mini a {
    color: #346467;
    text-decoration: none;
  }

  /* line 999, ../sass/style.scss */
  .calendar-calendar .month-view .mini .days {
    background-color: white;
    color: #54a0a5;
    border: 0px solid #54a0a5;
  }

  /* line 1004, ../sass/style.scss */
  .pane-vagtplan .view .date-heading h3 {
    padding-top: 10px;
  }

  /* line 1007, ../sass/style.scss */
  .main-container .row > section {
    padding-left: 15px;
    padding-right: 15px;
  }

  /* line 1012, ../sass/style.scss */
  .pager {
    margin-bottom: 0px !important;
  }

  /* line 1015, ../sass/style.scss */
  .pane-vagtplan .pager .date-prev a, .pane-vagtplan .pager .date-next a {
    font-size: 1.8em;
    color: #e1f4f5;
  }

  /* line 1019, ../sass/style.scss */
  .pane-vagtplan .pager .date-next a {
    background-color: transparent !important;
    /* float: left; */
    position: absolute;
    top: 9px;
    right: 10px;
    width: 20px;
    height: 28px;
    border: none;
  }

  /* line 1033, ../sass/style.scss */
  .view-general-information .views-row .views-row-title, .view-drifts-information .views-row .views-row-title, .view-afdelings-information .views-row .views-row-title {
    background: #54a0a5;
    height: 60px;
    border-bottom: 8px solid #87d3d8;
    padding-top: 15px;
    margin-top: 0px;
  }

  /* line 1040, ../sass/style.scss */
  .view-general-information .views-row .views-row-title a, .view-drifts-information .views-row .views-row-title a, .view-afdelings-information .views-row .views-row-title a {
    color: #e1f4f5;
    text-decoration: none;
    padding-left: 10px;
  }

  /* line 1045, ../sass/style.scss */
  .view-general-information .views-row, .view-drifts-information .views-row, .view-afdelings-information .views-row {
    background: white;
    padding-bottom: 20px;
  }

  /* line 1049, ../sass/style.scss */
  .view-general-information .views-row, .view-drifts-information .views-row, .view-afdelings-information .views-row, .pane-simplenews-35, .pane-simplenews-36, .pane-simplenews-37 {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 20px;
  }

  /* line 1054, ../sass/style.scss */
  .pane-simplenews-35 .pane-title, .pane-simplenews-36 .pane-title, .pane-simplenews-37 .pane-title {
    margin-left: 0px;
    color: #e1f4f5;
    height: 60px;
    background: #54a0a5;
    border-bottom: 8px solid #87d3d8;
    padding-top: 15px;
    padding-left: 10px;
  }

  /* line 1063, ../sass/style.scss */
  .view-files, .pane-simplenews-35, .pane-simplenews-36, .pane-simplenews-37 {
    background: white;
  }

  /* line 1066, ../sass/style.scss */
  .pane-simplenews-35 .pane-content, .pane-simplenews-36 .pane-content, .pane-simplenews-37 .pane-content {
    padding: 15px;
  }

  /* line 1069, ../sass/style.scss */
  .view-general-information .views-field .col-md-12, .view-drifts-information .views-field .col-md-12, .view-afdelings-information .views-field .col-md-12 {
    padding-left: 0px;
    padding-right: 0px;
  }

  /* line 1073, ../sass/style.scss */
  .view-general-information .views-image, .view-drifts-information .views-image, .view-afdelings-information .views-image {
    float: left;
    padding-right: 10px;
    padding-left: 10px;
  }

  /* line 1078, ../sass/style.scss */
  .view-general-information .views-image-body, .view-drifts-information .views-image-body, .view-afdelings-information .views-image-body {
    min-height: 100px;
  }

  /* line 1081, ../sass/style.scss */
  .view-files h2 {
    margin-top: 0px;
    font-size: 2em;
  }

  /* line 1085, ../sass/style.scss */
  .view-files .views-row {
    padding: 15px;
  }

  /* line 1088, ../sass/style.scss */
  .view-files .view-content {
    padding-bottom: 0px;
  }

  /* line 1091, ../sass/style.scss */
  .view-vagtplan {
    margin-top: 40px;
  }

  /* line 1096, ../sass/style.scss */
  .page-header {
    background: #54a0a5;
    margin-bottom: 0px;
    padding-top: 20px;
    border-bottom: 8px solid #87d3d8;
    padding: 20px;
    color: #e1f4f5;
  }

  /* line 1105, ../sass/style.scss */
  .node .content {
    background: white;
  }

  /* line 1108, ../sass/style.scss */
  .node .field-name-body {
    padding: 0px 20px 20px 20px;
    min-height: 245px;
  }

  /* line 1112, ../sass/style.scss */
  .node .field-name-field-update, .node .field-name-field-news, .node .field-name-field-simplenews-term, .node .field-name-field-news-image {
    margin-left: 20px;
  }

  /* line 1115, ../sass/style.scss */
  .node .field-name-field-simplenews-term {
    display: inline-block;
    float: left;
    background-color: #69c8cf;
    text-decoration: none;
    border-radius: 4px;
    padding: 0px 3px 0px 3px;
  }

  /* line 1124, ../sass/style.scss */
  .node .field-name-field-simplenews-term a {
    color: white;
  }

  /* line 1130, ../sass/style.scss */
  .node .field-name-field-news-image {
    float: left;
    padding: 5px 5px 5px 0px;
  }

  /* line 1134, ../sass/style.scss */
  .submitted {
    margin-bottom: 1em;
    font-style: italic;
    font-weight: 400;
    color: #777;
    background: white;
    margin: 0px;
  }

  /* line 1143, ../sass/style.scss */
  #block-logintoboggan-logintoboggan-logged-in {
    background-color: white;
    width: auto;
    text-align: right;
    float: right;
    padding: 4px;
    border: 3px solid #69c8cf;
    margin-bottom: -34px;
    margin-top: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: relative;
    z-index: 11;
  }

  /* line 1157, ../sass/style.scss */
  .form-item-ugedage, .form-item-maaned {
    margin-top: 10px;
    width: 49%;
    float: left;
  }

  /* line 1162, ../sass/style.scss */
  .form-item-maaned {
    float: right;
  }

  /* line 1165, ../sass/style.scss */
  .footer {
    margin-top: 0px;
    padding-top: 0px;
  }

  /* line 1170, ../sass/style.scss */
  .field-name-field-sub-page .field-item {
    margin: 10px;
  }

  /* line 1173, ../sass/style.scss */
  .field-name-field-sub-page .field-item a {
    text-decoration: none;
    color: #54a0a5;
    font-weight: 600;
  }

  /* line 1178, ../sass/style.scss */
  .field-name-field-sub-page .field-item:hover {
    background-color: #69c8cf;
    color: white;
  }

  /* line 1183, ../sass/style.scss */
  .user-profile {
    background: white;
  }

  /* line 1186, ../sass/style.scss */
  .field-name-field-user-fornavn {
    float: left;
    margin-right: 5px;
    font-weight: 600;
  }

  /* line 1191, ../sass/style.scss */
  .field-name-field-user-efternavn {
    margin-right: 5px;
    font-weight: 600;
  }

  /* line 1195, ../sass/style.scss */
  .page-user .page-header, .user-profile, .nav-tabs {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  /* line 1200, ../sass/style.scss */
  .group-header {
    height: 330px;
  }

  /* line 1203, ../sass/style.scss */
  .group-header .field-name-field-user-fornavn {
    display: block;
    float: left;
    margin-left: auto;
    margin-right: 10px;
    text-align: center;
  }

  /* line 1210, ../sass/style.scss */
  .group-left dl, .group-footer h3 {
    margin: 0px;
  }

  /* line 1213, ../sass/style.scss */
  .group-header, .group-left, .group-footer {
    padding: 10px;
  }

  /* line 1217, ../sass/style.scss */
  #block-user-login {
    background: white;
    padding-bottom: 10px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  /* line 1225, ../sass/style.scss */
  #block-user-login .block-title {
    background: #54a0a5;
    border-bottom: 5px solid #87d3d8;
    padding-left: 25px;
  }

  /* line 1230, ../sass/style.scss */
  #block-user-login h2 {
    color: #e1f4f5;
    margin: 0px;
    height: 70px;
    line-height: 70px;
  }

  /* line 1236, ../sass/style.scss */
  #user-login-form {
    padding: 30px;
  }

  /* line 1240, ../sass/style.scss */
  .page-calendar .pager .date-prev, .page-calendar .pager .date-next {
    color: #e1f4f5;
    line-height: 70px;
  }

  /* line 1244, ../sass/style.scss */
  .page-calendar .date-nav-wrapper {
    background-color: #54a0a5;
    border-bottom: 10px solid #69c8cf !important;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    height: 70px;
  }

  /* line 1251, ../sass/style.scss */
  .page-user .pagination {
    margin-left: 25%;
  }

  /* line 1254, ../sass/style.scss */
  .page-user .region-content {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    background: white;
  }

  /* line 1261, ../sass/style.scss */
  .page-user .page-header {
    width: 50%;
  }

  /* line 1264, ../sass/style.scss */
  ul.tabs--secondary.pagination.pagination-sm {
    display: inline-block;
    background: white;
    width: 50%;
  }
  /* line 1269, ../sass/style.scss */
  .user-profile {
    width: 100%;
  }
}
@media (max-width: 1000px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}
a:hover {
    text-decoration: none;
}
.date-display-single {
    font-style: italic;
}

@media (max-width: 1000px) {
    .page-header {
        font-size: 14px;
    }
}
@media (max-width: 991px) {
    .views-field-field-user-tlf img {
        display: none;
    }
}
@media (max-width: 352px) {
    .page-header {
        font-size: 12px;
    }
}
.date-repeat-rule {
    display: none;
}
#block-custom-1 {
    margin-bottom: 20px;
    color: #fff;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #54a0a5;
}
.custom-test-test {
    background-color: #fff;
    padding: 20px;
}
.pane-wiki .pane-title {
    display: none;
}
.pane-search-form {
    margin-bottom: 20px;
}
.btn-info {
    background-color: #54a0a5 !important;
    border: 1px solid #54a0a5 !important;
}

/* ansatte view start */

.views-field-field-user-image {
    margin-right: 20px;
}
.views-field-field-user-image img {
    width: 100px; 
    height: 100px;
    margin-top: 20px;
    margin-left: 20px;
    /*background-color: #000;*/
}
.breadcrumb {
    display: none;
}
.view-ansatte-view .view-content {
    background-color: #fff;
}

@media (max-width: 360px) {
    .view-ansatte-view {
        font-size: 14px;
    }
}
@media (max-width: 992px) {
    .views-field-field-user-image {
        display: none !important;
    }
    .views-row-first {
        padding-top: 20px;
    }
    .views-row {
        margin-right: 20px;
        margin-bottom: 20px;        
        padding-bottom: 20px;
    }
}
.views-field.views-field-field-user-stilling {
  display: none;
}
/* ansatte view slut */
@media (max-width: 768px) {
    .panel-pane.pane-views.pane-files.page-files {
        display: none;
    }
}
@media (max-width: 992px) {
    .pane-vagtplan .pane-title {
    height: 65px !important;    
    color: #fff;
    border-bottom: 10px solid #78cdd3;
    }
    .pane-views .pane-title {
    height: 65px !important;    
    color: #fff;
    background-color: #54a0a5;
    border-bottom: 10px solid #78cdd3;
    margin-left: 0px !important;
    padding-top: 10px;
    text-align: center;
    }
}
.vagt-tlf-link {
    color: #fff;
}
.col-sm-8 h2.pane-title {
    display: none;
}
.pane-general-information h2.pane-title {
    display: none;
}
span.field-content {
    margin-left: 10px;
}

ul.pager {
    display: none;
}
.panel-panel.right.col-lg-10 {
    padding-right: 0px !important;
}
.col-lg-2 h2.pane-title {
    display: none;
}
.panel-panel.bottom.col-lg-10 {
    float: right;
    padding-right: 0px !important;
}
.panel-default>.panel-heading {
    background-color: #54a0a5 !important;
    color: #fff !important;
    border-bottom: 8px solid #87d3d8;
}
.category-menu-custom {
    background-color: #fff;
}
.category-menu-custom a {
    border-right: none !important;
    background-color: #fff !important;
}
.category-menu-custom  a:hover {
    border-right: none !important;
    background-color: #fff !important;
    text-decoration: underline !important;
}